@charset "UTF-8";

/*
 Dispositivo "width"

Celular pequeno:	Mobile (pequeno)	0	320
Celular padrão:	    Mobile	            321	480
Celular grande:	    Mobile (grande)	    481	767

Tablet retrato:	    Tablet	            768	991
Tablet paisagem:	Tablet landscape	992	1024

Laptop/Notebook:	Small desktop	    1025 1280
Desktop médio:	    Desktop	            1281 1440
Desktop grande:	    Large desktop	    1441 1920+

TV ou ultra-wide:	Extra large	        1921+ ∞    
 */

/* @media screen and (min-width:768px){
    main#card {
        width: 350px;
        height: auto;
    }

    div#imagem {
        margin-top: 30px;
        height: 200px;
    }

    #dados>span {
        font-size: 0.8em;
        margin-bottom: 15px;
        padding: 10px;
    }

    #dados>p {
        font-size: 0.8em;
    }
    div#assunto {
        margin: 20px 0;
    }

    div#assunto>h1 {
        font-size: 1.3em;
    }

    div#assunto>p {
        font-size: 0.8em;
    }
} */